:root {
  --primary-color: #565654;
  --secondary-color: #C7F2A4;
  --tertiary-color: #f8fabf;
  --quaternary-color: #B6E388;
  --light-color: #fdfafa;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: var(--light-color);
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: var(--light-color);
  background-color: var(--quaternary-color);
  border-radius: 0;
  border-bottom: 10px solid var(--secondary-color);
}
.description{
  white-space: pre-wrap;
}


/*Time Blocks*/
textarea {
  background: var(--light-color);
  border: none;
  resize: none;
  color: var(--primary-color);
  border-left: 1px solid var(--primary-color);
  border-right: 1px solid var(--primary-color);
  padding: 10px;
}

.time-container {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.time-block{
  text-align: center;
  display: flex;
  flex-direction: column;
}

.hour {
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  border: 1px dashed var(--primary-color);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.saveBtn {
  border: 1px solid var(--primary-color);
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: var(--secondary-color);
  color: white;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}


.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}



.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}
