:root {
  --primary-color: #565654;
  --secondary-color: #a4c3f2;
  --tertiary-color: #f8fabf;
  --quaternary-color: #74a5f0;
  --light-color: #fdfafa;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: var(--light-color);
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: var(--light-color);
  background-color: var(--quaternary-color);
  border-radius: 0;
  border-bottom: 10px solid var(--tertiary-color);
}
.description{
  white-space: pre-wrap;
}

/*TIME BLOCKS START HERE*/
textarea {
  background-color: transparent;
  border: none;
  resize: none;
  color: var(--primary-color);
  border-left: 1px solid var(--primary-color);
  border-right: 1px solid var(--primary-color);
  padding: 10px;
}

.time-block{
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.hour {
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  border: 1px dashed var(--primary-color);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.saveBtn {
  border: 1px solid var(--primary-color);
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: var(--secondary-color);
  color: var(--light-color);
}

/*Hourly changes*/
.past {
  background-color: #e5e2e2;
  border-radius: 15px;
  color: var(--light-color);
}

.present {
  background-color: #fa6d65;
  border-radius: 15px;
  color: var(--light-color);
}

.future {
  background-color: #7ced7c;
  border-radius: 15px;
  color: var(--light-color);
}

/*TIME BLOCKS END*/

/*Media Queries */
@media screen and (min-width: 720px) {
  .time-block{
    flex-direction: row;
    margin-bottom: 10px;
    margin-left: 40px;
    margin-right: 40px;
  }

  .hour {
    border: 1px dashed var(--primary-color);
    border-right: none;
    border-top-left-radius: 15px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 15px;
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  textarea {
    flex-grow: 3;
    border: 1px solid var(--primary-color);
  }
  
  .saveBtn {
    border-left: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 0;
    background-color: var(--secondary-color);
    color: var(--light-color);
    flex-grow: 1;
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
  }
}
